body {
  background: linear-gradient(0deg, rgb(255 172 172), rgb(234 244 255 / 46%)), url(/src/assets/images/pexels-arthur-krijgsman-4019754.jpg);
  background-size: cover;
}

.roll_application {
  min-height: 100vh;
}

.roll_application .rollList__wrap {
  max-width: 900px;
  margin: 50px auto;
  background-color: white;
}

.roll_application .rollList__wrap .table .thead-dark th {
  background-color: #2b4d6f;
}
