body {
  background: linear-gradient(0deg, #ffadb354, rgb(255 255 255 / 89%)), url(/src/assets/images/jason-goodman-vbxyFxlgpjM-unsplash.jpg);
  background-size: cover;
}

.roll-application {
  min-height: 100vh;
}

.roll-application button {
  outline: none !important;
  border: none;
}

.roll-application .toolbar__searchwrap {
  display: flex;
  align-items: center;
}

.roll-application .toggleBar__search {
  position: relative;
}

.roll-application .toggleBar__search-input {
  border: none;
  padding-right: 25px;
  padding-left: 10px;
  border-radius: 5px;
}

.roll-application .toggleBar__search-submit {
  position: absolute;
  right: 0;
  background-color: transparent;
  cursor: pointer;
}

.roll-application .toolbar__reset-icon {
  max-width: 15px;
}

.roll-application .activeroll-actionwrap {
  justify-content: right;
}

.roll-application .linkToActivities {
  display: flex;
  align-items: center;
}

.roll-application .linkToActivities p {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  margin: 0;
}

.roll-application .rollList__wrap {
  border-radius: 10px;
  max-width: 900px;
  margin: 50px auto;
}

.rollPage__nodata {
  text-align: center;
  font-size: 30px;
}

.rollpage__wrapper {
  display: flex;
  column-gap: 40px;
  justify-content: center;
  padding: 0 30px;
}

.attendancepercents__wrapper {
  margin: 172px 0;
}

.attendancepercents__table {
  border-radius: 19px;
}

.attendancepercents__headline {
  background-color: rgb(19 67 12);
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.attendancepercents__table thead {
  background-color: #343f63;
}

.attendancepercents__table tbody {
  background-color: #ffffffba;
}

.attendancepercents__table th {
  color: white;
}
.attendancepercents__table tbody th {
  color: #3a415d;
}
.attendancepercents__table td {
  color: #3a415d;
}

.attendancepercents__table td:last-child {
  text-align: center;
}

.roll-application td[data-alert="yes"] {
  background-color: rgba(255, 0, 0, 0.923);
  color: white;
  font-weight: 500;
}

.roll-application .attendancepercents__table tbody tr:nth-of-type(odd) {
  background-color: rgb(0 0 0 / 8%);
}

.roll-application .rollDetails {
  border-radius: 10px 10px 0 0;
  background-color: #343f64;
  padding: 30px;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.roll-application .rollDetails h2,
.roll-application .rollDetails h3 {
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 0;
  font-weight: 200;
}

.roll-application .rollDetails ul {
  display: flex;
  column-gap: 20px;
  color: white;
  list-style: none;
  margin: 0;
}

.roll-application .rollDetails li {
  font-weight: 300;
  font-size: 16px;
}

.roll-application .rollDetails .present-total,
.roll-application .rollDetails .late-total,
.roll-application .rollDetails .absent-total,
.roll-application .rollDetails .unmarked-total {
  display: inline-block;
  background-color: #13943b;
  padding: 3px 10px;
  border-radius: 30%;
  margin-left: 10px;
}

.roll-application .rollDetails .late-total {
  background-color: #f5a623;
}

.roll-application .rollDetails .absent-total {
  background-color: #9b9b9b;
}

.roll-application .rollDetails .unmarked-total {
  background-color: rgba(255, 69, 69, 0.923);
}

.roll-application .rollDetails .rollDetails__total,
.roll-application .rollDetails .rollDetails__total,
.roll-application .rollDetails .rollDetails__total,
.roll-application .rollDetails .rollDetails__total {
  max-width: max-content;
}

.roll-application .rollDetails .roll-time::before {
  content: "";
  background-image: url(/src/assets/images/calendar-free-icon-font.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
  top: 2px;
}

.roll-application .rollList__wrap .table {
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0px 10px 40px #af595973;
}

.roll-application .rollList__wrap .table .thead-dark th {
  background-color: #1b4f8f;
}

.roll-application .rollList__wrap table tbody {
  background-color: #ffffffde !important;
}

.roll-application .rollpage__headline-wrap {
  position: relative;
  display: flex;
  width: fit-content;
  justify-content: center;
  margin: 40px;
  margin-left: 0;
  padding-bottom: 10px;
}

.roll-application .rollpage__headline-wrap .rollpage__headline {
  color: #2b4d6f;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: left;
  font-weight: 300;
  font-size: 40px;
}

.roll-application .rollpage__headline-wrap .rollpage__underline {
  width: 176.25px;
  height: 5px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f5a623;
}

@media screen and (max-width: 1280px) {
  .rollDetails {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .rollDetails__right {
    flex-basis: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 856px) {
  .rollDetails__right {
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 10px;
  }

  .roll-application .rollDetails .rollDetails__total,
  .roll-application .rollDetails .rollDetails__total,
  .roll-application .rollDetails .rollDetails__total,
  .roll-application .rollDetails .rollDetails__total {
    flex-basis: 47%;
  }
}

@media screen and (max-width: 768px) {
  .rollpage__wrapper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .rollpage__wrapper > * {
    flex-basis: 100%;
  }

  .attendancepercents__wrapper {
    margin: 50px 0;
  }
}
