body {
  background: linear-gradient(0deg, #ffadb354, rgb(255 255 255 / 89%)), url(/src/assets/images/jason-goodman-vbxyFxlgpjM-unsplash.jpg);
  background-size: cover;
}

button {
  outline: none !important;
}

.roll_application {
  min-height: 100vh;
}

.roll_application .activeroll-actionwrap {
  justify-content: right;
}

.roll_application .linkToActivities {
  display: flex;
  align-items: center;
}

.roll_application .linkToActivities p {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  margin: 0;
}

.roll_application .rollList__wrap {
  border-radius: 10px;
  max-width: 900px;
  margin: 50px auto;
}

.roll_application .rollDetails {
  border-radius: 10px 10px 0 0;
  background-color: #343f64;
  padding: 30px;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roll_application .rollDetails h2,
.roll_application .rollDetails h3 {
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 0;
  font-weight: 200;
}

.roll_application .rollDetails ul {
  display: flex;
  column-gap: 20px;
  color: white;
  list-style: none;
  margin: 0;
}

.roll_application .rollDetails li {
  font-weight: 300;
  font-size: 16px;
}

.roll_application .rollDetails .present-total,
.roll_application .rollDetails .late-total,
.roll_application .rollDetails .absent-total,
.roll_application .rollDetails .unmarked-total {
  display: inline-block;
  background-color: #13943b;
  padding: 3px 10px;
  border-radius: 30%;
  margin-left: 10px;
}

.roll_application .rollDetails .late-total {
  background-color: #f5a623;
}

.roll_application .rollDetails .absent-total {
  background-color: #9b9b9b;
}

.roll_application .rollDetails .unmarked-total {
  background-color: rgba(255, 69, 69, 0.923);
}

.roll_application .rollDetails .roll-time::before {
  content: "";
  background-image: url(/src/assets/images/calendar-free-icon-font.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
  top: 2px;
}

.roll_application .rollList__wrap .table {
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0px 10px 40px #af595973;
}

.roll_application .rollList__wrap .table .thead-dark th {
  background-color: #1b4f8f;
}

.roll_application .rollList__wrap table tbody {
  background-color: #ffffffde !important;
}

.roll_application .imgwicons__headlinewrap {
  position: relative;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px auto;
}

.roll_application .imgwicons__headlinewrap .imgwicons__headline {
  color: #2b4d6f;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
  font-weight: 200;
  font-size: 60px;
}

.roll_application .imgwicons__headlinewrap .imgwicons__underline {
  width: 176.25px;
  height: 5px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: #b8db15;
}
